.profile-head {
    transform: translateY(5rem)
}

.cover {
    background-image: url(https://images.unsplash.com/photo-1530305408560-82d13781b33a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80);
    background-size: cover;
    background-repeat: no-repeat
}

body {
    background: #f5f3e1;
   /*#654ea3 background: linear-gradient(to right, #e96443, #904e95)*/;
    min-height: 100vh
}
.strong-word{
  letter-spacing: 8px;
}
.text-epic{
  margin-right: auto;
}
.edit-wid-1{
  width: 270px;
 min-height: 400px;
}
.edit-wid-2{
  width: 55%;
  height: 1000px;
}
.letterspa{
  letter-spacing: 3px;
}
.btn-wid{
  width: 120px;
  letter-spacing: 1px;
}
.img-heig{
	height: 320px !important;
	width:  750px !important;
}
.edit-wid-3{
	width: 21%;
	margin-right: 5px;}
.card-text{
	margin-top: 0px !important;
}
