{% extends 'base.html' %}
{%load static%}
{%load widget_tweaks%}
{%block title%}{{profile.get_name}} Profile{%endblock%}
{%block body%}
<div class="row py-0 px-3">
    <div class="col-lg-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow overflow-hidden">

            <!-- 							cover    start -->
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-3 mb-2"><img src="{{profile.avatar.url}}" alt="profile picture" width="130"
                            class="rounded mb-2 img-thumbnail">
                        <h2 class="btn btn-primary  btn-block active">{{profile.get_name}}</h2>
                    </div>
                </div>
            </div>
            <!--      cover    end -->
            <div class="bg-light p-4 d-flex justify-content-center text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mx-5">
                        <h5 class="font-weight-bold mb-0 d-block">static 215</h5><small class="text-muted"> <i
                                class="fa fa-picture-o mr-2"></i>Photos</small>
                    </li>
                    <li class="list-inline-item mx-5">
                        <h5 class="font-weight-bold mb-0 d-block">{{profile.posts.all.count}}</h5><small
                            class="text-muted"> <i class="fa fa-pencil-square-o mr-1"></i>Posts</small>
                    </li>
                    <li class="list-inline-item mx-5">
                        <h5 class="font-weight-bold mb-0 d-block">{{profile.friends.all.count}}</h5><small
                            class="text-muted"> <i class="fa fa-users mr-1"></i>Friends</small>
                    </li>
                    {% if user == profile.user %}
                    <li class="list-inline-item ml-5">
                        <button type="button" data-toggle="modal" data-target="#exampleModalCenter"
                            class="btn btn-outline-primary">Edit Profile</button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Update your profile info</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="" method="POST" class="form" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            {%for field in editform%}
                                            <div class="form-group">
                                                {{field.label_tag}}

                                                {% render_field field class="form-control" %}
                                            </div>
                                            {%endfor%}

                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end MODAL -->
                    </li>
                    {%else%}
                    {%if profile.user not in user.profile.friends.all%}

                    {%if is_requested %}
                    <li class="list-inline-item ml-5">
                        <a href="{%url 'Profile:cancelRequest' profile.slug %}"><button
                                class="btn btn-outline-primary"><i class="fa fa-user-plus mr-1"
                                    aria-hidden="true"></i>Cancel Request</button></a>
                    </li>
                    {%else%}
                    <li class="list-inline-item ml-5">
                        <a href="{%url 'Profile:addFriend' profile.slug %}"><button class="btn btn-outline-primary"><i
                                    class="fa fa-user-plus mr-1" aria-hidden="true"></i>Add Friend</button></a>
                    </li>
                    {%endif%}



                    {%endif%}

                    {%endif%}
                </ul>
            </div>
            {%if user == profile.user %}
            <!--       start Friends requests -->
            <div class="px-4 py-3">

                <h5 class="mb-1 mx-2"><i class="fa fa-users mr-2" aria-hidden="true"></i>Friend Requests</h5>

                <div class="d-flex p-2 rounded shadow-sm bg-light">
                    {%for req in friendreqs %}
                    <div class=" mx-3 my-3 mb-2 ">
                        <img src="{{req.sender.avatar.url}}" alt="profile picture" width="130"
                            class="rounded mb-2 img-thumbnail">
                        <a href="{%url 'Profile:profile' req.sender.slug %}">
                            <h2 class="btn btn-primary btn-md btn-block active">{{req.sender.get_name}}</h2>
                        </a>
                        <a href="{%url 'Profile:acceptFriend' req.sender.slug %}">
                            <h2 class="btn btn-primary btn-md btn-block active">Accept</h2>
                        </a>
                        <a href="{%url 'Profile:refuseFriend' req.sender.slug %}">
                            <h2 class="btn btn-primary btn-md btn-block active">Refuse</h2>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <!--       end Friends requests -->
            {%endif%}
            <!--       start about -->
            <div class="px-4 py-3">

                <h5 class="mb-1 mx-2"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>STATIC About</h5>

                <div class="p-2 rounded shadow-sm bg-light">
                    <ul>
                        {{profile.about}}
                    </ul>
                </div>
            </div>
            <!--       end about -->
            <!--       start Friends -->
            <div class="px-4 py-3">

                <h5 class="mb-1 mx-2"><i class="fa fa-users mr-2" aria-hidden="true"></i>Friends</h5>

                <div class="d-flex p-2 rounded shadow-sm bg-light">
                    {%for friend in profile.get_friends%}
                    <div class=" mx-3 my-3 mb-2 ">
                        <img src="{{friend.profile.avatar.url}}" alt="profile picture" width="130"
                            class="rounded mb-2 img-thumbnail">
                        <a href="{%url 'Profile:profile' friend.profile.slug %}">
                            <h2 class="btn btn-primary btn-md btn-block active">{{friend.profile.get_name}}</h2>
                        </a>
                    </div>
                    {%endfor%}
                </div>
            </div>
            <!--       end Friends -->

            <!--       start posts -->
            <div class="px-4 py-3">

                <h5 class="mb-1 mx-2"><i class="fa fa-pencil-square-o mr-2" aria-hidden="true"></i>Posts</h5>
                {%if user == profile.user %}
                <div class="row">
                    <!-- CARD TO create YOUR POSTS -->
                    <div class="col-7 mx-auto">
                        
                        <div class="row card border rounded mb-3 mt-3 shadow-sm">
                            <form action="" method="POST" enctype="multipart/form-data" class=" border shadow-sm">
                                {%csrf_token%}
                                <div class="form-group mx-3 my-3">
                                    <label for="exampleFormControlTextarea1" class="font-weight-bold mx-1 my -2">Share
                                        Your Post with
                                        other</label>
                                    {{postform}}
                                    
                                   <div class="form-group my-3">
                                    <button type="submit" class="btn btn-primary  btn-wid block" value="Post">Post
                                        Now</button><span class="text-muted">Remember Make Others Happy With Your
                                        Posts!</span>
                                    </div>
                                    
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                {%endif%}
                <div class="p-2 rounded shadow-sm bg-light">
                    {%for post in profile.get_posts%}

                    {%include 'posts/post.html' with post=post profile=profile user=user%}

                    {%endfor%}
                </div>
            </div>
            <!--       end posts -->
        </div>
    </div>
</div>

{%endblock%}
{%block script%}
{%include 'posts/script.html'%}

{%endblock%}