<div class="card match-container my-1 col-12" style="background-color: #a1cbff;">
    <div class="m-3 d-flex flex-row justify-content-between">
        <div class="left-club-container d-flex flex-column">
            <div class="club-img" style="height:60px">
                <img src="{{match.leftteam.logo.url}}" style="height:60px;">
            </div>
            <div class="club-name">
                <div class=""><span>{{match.leftteam.name}}</span></div>
            </div>
        </div>
        <div class="score-container flex-column d-flex justify-content-center ">
            <div class="score rounded">
                <div class=" d-flex flex-row">
                    <div class="h4 ">{{match.left_team_score}}</div>
                    <div class="mx-4 h4 ">-</div>
                    <div class="h4 ">{{match.right_team_score}}</div>
                </div>
            </div>
        </div>

        <div class="right-club-container d-flex flex-column">
            <div class="club-img" style="height:60px">
                <img src="{{match.rightteam.logo.url}}" style="height:60px">
            </div>
            <div class="club-name">
                <div class=""><span>{{match.rightteam.name}}</span></div>
            </div>
        </div>
    </div>
</div>