<div class="post1px">
</div>
<div class="post1p">
    <img src="{{profile.avatar.url}}" height="30" /><br><br>{{post.body}}<br><br><p6>Like  Comment  Share</p6><br><hr><p1>Eslam Magdy</p1><p2> and</p2><p1> 5 others</p1><p2> like this</p2>
    <div id="post2text" class="post1p"><p3>{{profile.get_name}} </p3><p2>with </p2><br><p4>{{post.created}}</p4></div>
    <div id="commentprof2" class="post1p"><img src="{{profile.avatar.url}}" height="30" /></div>
    <div id="commentboxpos2" class="post1p"><input type="textarea" placeholder="comment" id="commentbox" /></div>
</div>
</div>