<script type="text/javascript">
    $(document).ready(function () {
        $(".comment-toggle").click(function () {
            $(this).closest(".card-body").find("#comment-toggle-1").toggle(100);

        });
        $(".comment-toggle-2").click(function () {
            $(this).closest(".card").find("#comment-toggle-3").toggle(300);
        });



    });
    $(function () {
        $(".commentfield").keypress(function (e) {

            if ((e.which == 13) && (!e.shiftKey)) {
                //submit form via ajax, this is not JS but server side scripting so not showing here
                var that = this;
                var body = $(this).val();
                $.ajax({
                    url: "{%url 'Posts:postcomment' %}",
                    type: 'GET',
                    data: { commentbody: $(this).val(), postpk: $(this).closest(".posthead").find("#postid").text() },
                    success: function (res) {

                        $(that).closest(".posthead").find("#comment-toggle-3").prepend(`
                <div class="my-2 mx-4 border rounded" style="background-color:#f8f9fa">
                <div class="col mt-3">
                    <img src="${res.avatar}" class="rounded-circle mr-1" height="32" alt="Cinque Terre">
                    
                    <span>${res.author}</span>
                    <span class="float-right text-muted">${res.created}</span>
                </div>
                
                <div class="col-sm">
                    <p class="p-2">
                        ${body}
                    </p>
                </div>
            </div>
                
                `);


                    }
                });
                $(function () {
                    var txt = $(that).closest(".card-body").find("#cmntnum").text();
                    var inttxt = (parseInt(txt, 10) + 1);
                    $(that).closest(".card-body").find("#cmntnum").text(inttxt + ' ');
                });

                $(this).val("");
                e.preventDefault();
                $(this).closest(".card").find("#comment-toggle-3").css("display", "block");


            }
        });

    });
    $(".like-btn").click(function () {
        var that = this;
        $.ajax({
            url: "{%url 'Posts:likepost'%}",
            type: "GET",
            data: {
                postpk: $(this).closest(".posthead").find("#postid").text(),
            },
            success: function (res) {
                if (res.islike) {

                    $(that).addClass("active");
                    $(that).text("");
                    $(that).append('<i class="fa fa-thumbs-up mr-1" aria-hidden="true"></i>Dislike');
                    $(function () {
                        let txt = $(that).closest(".card-body").find("#likenum").text();
                        let inttxt = parseInt(txt, 10) + 1;
                        $(that).closest(".card-body").find("#likenum").text(inttxt);
                    });
                }
                else {
                    $(that).removeClass("active");
                    $(that).text("");
                    $(that).append('<i class="fa fa-thumbs-up mr-1" aria-hidden="true"></i>Like');
                    $(function () {
                        let txt = $(that).closest(".card-body").find("#likenum").text();
                        let inttxt = parseInt(txt, 10) - 1;
                        $(that).closest(".card-body").find("#likenum").text(inttxt);
                    });




                }



            }
        });
    });

</script>